.board {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .board {
        flex-direction: row;
    }

    .board-row {
        flex-direction: column;
    }
}

